@page
@model Web.Pages.HomeModel
@{
}
<form method="post">
    <div>
        <label for="username">Tên người dùng:</label>
        <input type="text" id="username" name="username" />
    </div>
    <div>
        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="password" />
    </div>
    <div>
        <input type="submit" value="Đăng nhập" />
    </div>
</form>
